<style>
@import url('https://fonts.googleapis.com/css?family=Bungee');
</style>
<body style="background-color:pink; font-family: Bungee; font-size: 30px"; color:royalblue;>

<form action="/api/create" method="POST">

  
  When was your first crush:<br><input type="text" name="age" placeholder="Age"><br>

  What is a moment that you remember that is love to you?:<br>
  <input type="text" name="moment" placeholder="a moment of love"><br>

  Describe your first crush:<br> <input type="text" name="firstcrush" placeholder="your first crush"><br>

  How old were you when you were first truely in love?<br> <input type="text" name="agefirstlove" placeholder="age of first love"><br>
 
  Tell me about your first love:<br> <input type="text" name="firstlove" placeholder="your first love?"><br>

 What does love feel like to you ?:<br>
  <input type="text" name="feeloflove" placeholder="what does love feel like"><br>

 What is love to you ?:<br>
  <input type="text" name="whatislove" placeholder="what is love?"><br>
  


  What is your favorite memory of romantic love?:<br>
  <input type="text" name="romanticlove" placeholder="memory of romance"><br>
  <p>


  <input style="background-color:royalblue; float: unset; color:pink; font-family: Bungee;font-size: 30px" type="submit" value="Submit">
</form>
</body>