<style>
@import url('https://fonts.googleapis.com/css?family=Bungee|Montserrat|Merriweather');
</style>
<body style="background-color:#FF8FB3; font-family: Montserrat; font-size: 30px"; color:royalblue;>

    <h1 style="font-family: Montserrat;text-align: center; color: #FFFDFD; background-color:#FF8FB3;font-size: 50px;">Questions about Love</h1>

<iframe style="display:block; margin-left: auto; margin-right: auto;" src="//giphy.com/embed/26tPqM9uMHoqfYfqE" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/26tPqM9uMHoqfYfqE"></a></p>
<form style="text-align: center; color:#FF2450;" action="/api/create" method="POST">

  
  When was your first crush:<br><input type="text" name="age" placeholder="Age"><br>
 <p>

  What is a moment that you remember that is love to you?:<br>
  <input type="text" name="moment" placeholder="a moment of love"><br>
 <p>

  Describe your first crush:<br> <input type="text" name="firstcrush" placeholder="your first crush"><br>
 <p>

  How old were you when you were first truely in love?<br> <input type="text" name="agefirstlove" placeholder="age of first love"><br>
  <p>

  Tell me about your first love:<br> <input type="text" name="firstlove" placeholder="your first love?"><br>
 <p>

 What does love feel like to you ?:<br>
  <input type="text" name="feeloflove" placeholder="what does love feel like"><br>

 <p>
 What is love to you ?:<br>
  <input type="text" name="whatislove" placeholder="what is love?"><br>
   <p>


  What is your favorite memory of romantic love?:<br>
  <input type="text" name="romanticlove" placeholder="a memory of romance"><br>
  <p>


  <input style="background-color:#FF2450; float: unset; color:#FFFDFD; font-family: Bungee;font-size: 30px" type="submit" value="Submit">
</form>
</body>